<ion-modal-view view-title="VRON">
    <ion-header-bar class="bar-positive">
        <h1 class="title">Buses</h1>
        <button class="button  button-clear" ng-click="closeModal()">Close</button>
    </ion-header-bar>
    <ion-content>
        <div class="list">

            <a class="item item-avatar" href="">
                <img src="img/school-bus.png">
                <h2><strong>Bus 1</strong></h2>
                <p>Niwaru-Jhotwara-Sodala-Sahkar Marg-Gandhi Nagar-Jagatpura</p>
            </a>
            <a class="item item-avatar" href="">
                <img src="img/school-bus.png">
                <h2><strong>Bus 2</strong></h2>
                <p>Niwaru-Jhotwara-Sodala-Sahkar Marg-Gandhi Nagar-Jagatpura</p>
            </a>
            <a class="item item-avatar" href="">
                <img src="img/school-bus.png">
                <h2><strong>Bus 3</strong></h2>
                <p>Niwaru-Jhotwara-Sodala-Sahkar Marg-Gandhi Nagar-Jagatpura</p>
            </a>
            <a class="item item-avatar" href="">
                <img src="img/school-bus.png">
                <h2><strong>Bus 4</strong></h2>
                <p>Niwaru-Jhotwara-Sodala-Sahkar Marg-Gandhi Nagar-Jagatpura</p>
            </a>
            <a class="item item-avatar" href="">
                <img src="img/school-bus.png">
                <h2><strong>Bus 5</strong></h2>
                <p>Niwaru-Jhotwara-Sodala-Sahkar Marg-Gandhi Nagar-Jagatpura</p>
            </a>
            <a class="item item-avatar" href="">
                <img src="img/school-bus.png">
                <h2><strong>Bus 6</strong></h2>
                <p>Niwaru-Jhotwara-Sodala-Sahkar Marg-Gandhi Nagar-Jagatpura</p>
            </a>
            <a class="item item-avatar" href="">
                <img src="img/school-bus.png">
                <h2><strong>Bus 7</strong></h2>
                <p>Niwaru-Jhotwara-Sodala-Sahkar Marg-Gandhi Nagar-Jagatpura</p>
            </a>
            <a class="item item-avatar" href="">
                <img src="img/school-bus.png">
                <h2><strong>Bus 8</strong></h2>
                <p>Niwaru-Jhotwara-Sodala-Sahkar Marg-Gandhi Nagar-Jagatpura</p>
            </a>
            <a class="item item-avatar" href="">
                <img src="img/school-bus.png">
                <h2><strong>Bus 9</strong></h2>
                <p>Niwaru-Jhotwara-Sodala-Sahkar Marg-Gandhi Nagar-Jagatpura</p>
            </a>
            <a class="item item-avatar" href="">
                <img src="img/school-bus.png">
                <h2><strong>Bus 10</strong></h2>
                <p>Niwaru-Jhotwara-Sodala-Sahkar Marg-Gandhi Nagar-Jagatpura</p>
            </a>

        </div>
    </ion-content>
</ion-modal-view>