<ion-view view-title="VRON">
    <ion-content>
        <div align="center" style="height:30%">
            <!-- <img src="img/bus.png" style="height:80%;padding-top:1em;padding-bottom:1em" /> -->
            <img src="img/bus.png" style="height:80%;padding-top:1em;padding-bottom:1em" alt="animated-bus-image-0023" />
        </div>
        <div class="list list-inset">
            <label class="item item-input item-floating-label">
    <span class="input-label">User Name</span>
    <input type="email" placeholder="User Name">
  </label>
            <label class="item item-input item-floating-label">
    <span class="input-label">Password</span>
    <input type="password" placeholder="Password">
  </label>
            <button class="button button-block button-balanced" onclick="ctrl.signInFunc()">
  Sign In
    </button>
        </div>
    </ion-content>
</ion-view>