<ion-view view-title="Drivers">
    <ion-content class="padding">
        <div class="list">

            <a class="item item-avatar" href="">
                <img src="img/driver.png">
                <h2><strong>Peeyush Pant</strong></h2>
                <p>Bus No. 1</p>
            </a>
            <a class="item item-avatar" href="">
                <img src="img/driver.png">
                <h2><strong>Pranay Bhardwaj</strong></h2>
                <p>Bus No. 2</p>
            </a>
            <a class="item item-avatar" href="">
                <img src="img/driver.png">
                <h2><strong>Hitendra Sing Rathore</strong></h2>
                <p>Bus No. 3</p>
            </a>
            <a class="item item-avatar" href="">
                <img src="img/driver.png">
                <h2><strong>Manish Dhayal</strong></h2>
                <p>Bus No. 4</p>
            </a>
            <a class="item item-avatar" href="">
                <img src="img/driver.png">
                <h2><strong>Sandeep</strong></h2>
                <p>Bus No. 5</p>
            </a>
            <a class="item item-avatar" href="">
                <img src="img/driver.png">
                <h2><strong>Rohit Pareek</strong></h2>
                <p>Bus No. 6</p>
            </a>
            <a class="item item-avatar" href="">
                <img src="img/driver.png">
                <h2><strong>Aditya Sharma</strong></h2>
                <p>Bus No. 7</p>
            </a>
            <a class="item item-avatar" href="">
                <img src="img/driver.png">
                <h2><strong>Prakash</strong></h2>
                <p>Bus No. 8</p>
            </a>
        </div>
    </ion-content>
</ion-view>